<div class="row">
  <div class="col-md-6">
    <div id="custom-search-input">
    <%= search_form_for @search , url: search_index_path, method: :get do |f| %>
      <%= collection_select :term, :name, Term.all, :name, :name, {:multiple => true} %>
        <%= f.condition_fields do |c| %>
          <%= render 'search/condition_fields', f: c %>
        <% end %>
        <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <%= render 'layouts/flash_msg' %>
        <div class="actions">
          <%= f.submit "Search" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr />